.info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 12px 0;
}
.userName {
    color: #FFF;
text-align: right;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btnBalance {
    color: var(--white, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
width: 120px;
height: 26px;
padding: 1px 4px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 24px;
background: #00BB40;
border: none;
}